@charset "utf-8";
/* CSS Document */

/* General Styles */

.dp_pec_wrapper {
	font-family:Arial, Helvetica, sans-serif;
	width: 100%;
	line-height:100%;
}

.dp_pec_wrapper .clear{
	clear:both;	
}

.dp_pec_wrapper .dp_pec_content {
	width: auto;
	min-height:300px;
	margin:10px;
	overflow: hidden;
}

.dp_pec_wrapper.dp_pec_400 .dp_pec_content {
	min-height:200px;
}

.dp_pec_wrapper .dp_pec_content strong {
	color: inherit;
	font-weight:bold;
}

.dp_pec_wrapper .dp_pec_dayname {
	width: 12.57142857142857%;
	padding: 5px 0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin: 5px 0;
	text-align:center;
	float:left;
	margin-left: 2%;
}

.dp_pec_wrapper .dp_pec_dayname:first-child {
	margin-left: 0;
}

.dp_pec_wrapper .dp_pec_dayname span {
	font-size: 11px;
	text-transform:uppercase;
}

.dp_pec_wrapper.dp_pec_400 .dp_pec_dayname span {
	font-size: 9px;
}

.dp_pec_wrapper .dp_pec_content .dp_pec_date_event {
	padding: 20px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin: 5px 0;
	overflow: hidden;
	width: auto;
	position: relative;
}

.dp_pec_wrapper .dp_pec_content .dp_pec_date_event.dp_pec_date_eventsearch {
	padding-bottom: 50px !important;
}

.dp_pec_wrapper.dp_pec_400 .dp_pec_content .dp_pec_date_event {
	padding: 10px 20px;
}

.dp_pec_wrapper.dp_pec_400 .dp_pec_content .dp_pec_date_event.dp_pec_upcoming {
	padding: 10px 10px 30px;
}

.dp_pec_wrapper.dp_pec_400 .dp_pec_content .dp_pec_date_event.dp_pec_upcoming img {
	display: none;
}

.dp_pec_wrapper .dp_pec_content .dp_pec_date_event h1.dp_pec_event_title {
	margin: 0;
	margin-bottom: 10px;
	font: italic normal normal 16px Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	line-height:100%;
}

.dp_pec_wrapper.dp_pec_400 .dp_pec_content .dp_pec_date_event h1.dp_pec_event_title {
	font-size: 13px;
}

.dp_pec_wrapper .dp_pec_content .dp_pec_date_event span.dp_pec_date_event_time {	
	position: absolute;
	font: italic normal normal 16px Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	bottom: 20px;
	right: 20px;
	padding-left: 25px;
}

.dp_pec_wrapper .dp_pec_content .dp_pec_date_event.dp_pec_upcoming span.dp_pec_date_event_time {	
	right: 10px;
}

.dp_pec_wrapper.dp_pec_400 .dp_pec_content .dp_pec_date_event span.dp_pec_date_event_time {
	font-size: 11px;
	bottom: 10px;
}

.dp_pec_wrapper .dp_pec_content .dp_pec_date_event div.dp_pec_date_event_icons {
	display:block;
	position: absolute;
	bottom: 20px;
	left: 20px;
	height: 16px;
}

.dp_pec_wrapper .dp_pec_content .dp_pec_date_event.dp_pec_upcoming div.dp_pec_date_event_icons {
	left: 10px;
}

.dp_pec_wrapper.dp_pec_400 .dp_pec_content .dp_pec_date_event div.dp_pec_date_event_icons {
	bottom: 10px;
}

.dp_pec_wrapper .dp_pec_content .dp_pec_date_event .dp_pec_date_event_map_iframe {
	display:block;
}

.dp_pec_wrapper .dp_pec_content .dp_pec_date_event a.dp_pec_date_event_link,
.dp_pec_wrapper .dp_pec_content .dp_pec_date_event a.dp_pec_date_event_twitter,
.dp_pec_wrapper .dp_pec_content .dp_pec_date_event a.dp_pec_date_event_map {
	display:block;
	width: 16px;
	height: 16px;
	opacity: .7;
	float:left;
	margin-right: 10px;
}

.dp_pec_wrapper .dp_pec_content .dp_pec_date_event a.dp_pec_date_event_map {
	display:none;	
}

.dp_pec_wrapper .dp_pec_content .dp_pec_date_event a.dp_pec_date_event_link:hover,
.dp_pec_wrapper .dp_pec_content .dp_pec_date_event a.dp_pec_date_event_twitter:hover {
	opacity: 1;
}

.dp_pec_wrapper .dp_pec_content .dp_pec_date_event .dp_pec_event_description {
	padding-top: 10px;
	font: italic normal normal 12px Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	line-height:150%;
	color: #A8AEB7;
	margin-bottom: 25px;
	border-top: 1px dashed #cbcbcb;
}

.dp_pec_wrapper .dp_pec_content .dp_pec_date_event .dp_pec_event_description img {
	border: 0;
	padding:0;
	margin:0;
}

.dp_pec_wrapper.dp_pec_400 .dp_pec_content .dp_pec_date_event .dp_pec_event_description {
	font-size: 11px;
	margin-bottom: 20px;
}

.dp_pec_wrapper .dp_pec_content .dp_pec_date_event .dp_pec_event_no_events {
	font: italic normal normal 12px Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	line-height:150%;
	margin: 0;
	color: #999;
}

.dp_pec_wrapper .dp_pec_content .dp_pec_date_event_head {
	padding: 10px 20px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin: 5px 0;
	width: auto;
}

.dp_pec_wrapper .dp_pec_content .dp_pec_date_event_head span {
	font-size: 11px;
	text-transform:uppercase;
	margin-left: 25px;
	line-height: 150%;
}

.dp_pec_wrapper .dp_pec_content .dp_pec_date_event_head a.dp_pec_date_event_back {
	width:16px;
	height:16px;
	display: block;
	float: right;
	opacity: .7;
}

.dp_pec_wrapper .dp_pec_content .dp_pec_date_event_head a.dp_pec_date_event_back:hover {
	opacity: 1;
}

.dp_pec_wrapper .dp_pec_content .dp_pec_date {
	position:relative;
	width: 12.57142857142857%;
	height:50px;
	padding: 0px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin: 5px 0;
	cursor: pointer;
	float:left;
	margin-left:2%;
}

.dp_pec_wrapper .dp_pec_content .dp_pec_date.first-child {
	margin-left: 0;
}

.dp_pec_wrapper .dp_pec_content .eventsPreview {
	display: none;
}

.eventsPreviewDiv {
	display: none;
	position: absolute;
	padding: 5px 10px;
	width: 250px;
	background: #F9F9F9;
	border: 1px solid #CCC;
	z-index: 9999;
	margin-left: -125px;
	margin-top: 10px;
}

.eventsPreviewDiv ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.eventsPreviewDiv ul li {
	margin: 0;
	padding: 0;
	list-style: none;
	border-top:1px dashed #ccc;
	margin-top: 5px;
	padding-top: 5px;
	margin-bottom: 0;
}

.dp_pec_wrapper.dp_pec_400 .dp_pec_content .dp_pec_date {
	height:30px;
}

.dp_pec_wrapper .dp_pec_content .dp_pec_date .dp_count_events {
	position: absolute;
	right: 5px;
	bottom: 5px;
	font-size: 12px;
	padding: 3px 5px;
	line-height: 100%;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.dp_pec_wrapper.dp_pec_400 .dp_pec_content .dp_pec_date .dp_count_events {
	right: 3px;
	bottom: 3px;
	font-size:15px;
}

.dp_pec_wrapper .dp_pec_content .dp_pec_date.disabled {
	opacity: .3 !important;
	filter: alpha(opacity=30) !important; 
	cursor: auto;
}

.dp_pec_wrapper .dp_pec_content .dp_pec_date .dp_date_head {
	padding: 0;
	width:20px;
	height:100%;
	float:left;
	text-align:center;
}

.dp_pec_wrapper.dp_pec_400 .dp_pec_content .dp_pec_date .dp_date_head {
	width:11px;
}

.dp_pec_wrapper .dp_pec_content .dp_pec_date .dp_date_head span {
	font-size: 12px;
	position: relative;
	top: 19px;
}

.dp_pec_wrapper.dp_pec_400 .dp_pec_content .dp_pec_date .dp_date_head span {
	font-size: 9px;
	top: 10px;
}

.dp_pec_wrapper .dp_pec_layout {
	position:relative;
	width: auto;
	margin: 10px;
}

.dp_pec_wrapper .dp_pec_layout .dp_pec_references {
	font-size: 11px;
	text-transform: uppercase;
	float: left;
	margin-top: 8px;
	opacity: .7;
	font-weight: normal;
}

.dp_pec_wrapper .dp_pec_layout .dp_pec_references:hover {
	opacity: 1;
	text-decoration:none;
}

.dp_pec_wrapper .dp_pec_layout .dp_pec_references_div .dp_pec_references_close {
	position: absolute;
	top: 5px;
	right: 8px;
	font-size: 11px;
	opacity: .7;
}

.dp_pec_wrapper .dp_pec_layout .dp_pec_references_div .dp_pec_references_close:hover {
	color: #333;
	text-decoration:none;
	opacity: 1;
}

.dp_pec_wrapper .dp_pec_layout .dp_pec_references_div {
	display: none;
	position: absolute;
	top: 5px;
	left: 80px;
	z-index: 99999;
	padding-right:20px;
}

.dp_pec_wrapper .dp_pec_layout .dp_pec_references_div .dp_pec_references_div_sp {
	margin: 10px;
	width: 100%;
}

.dp_pec_wrapper .dp_pec_layout .dp_pec_references_div .dp_pec_references_color {
	width:10px;
	height:10px;
	float:left;
	margin-right: 10px;
}

.dp_pec_wrapper .dp_pec_layout .dp_pec_references_div .dp_pec_references_title {
	font-size: 11px;
	text-transform: uppercase;
	float:left;
	line-height: 100%;
}

.dp_pec_wrapper .dp_pec_layout input.dp_pec_search {
	float: right;
	width:25%;
	height:auto;
	font:Arial, Helvetica, sans-serif !important;
	padding: 5px 10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding-right: 25px;
	margin: 0;
	font-size: 12px !important;
	box-shadow: none;
	line-height: 100% !important;
}

.dp_pec_wrapper .dp_pec_layout a {
	text-decoration: none;
}

.dp_pec_wrapper .dp_pec_layout .dp_pec_search_go {
	position:absolute;
	right: 5px;
	top: 5px;
	float: left;
	cursor: pointer;
	height: 16px;
	width: 16px;
	border: 0;
	padding: 0;
	display:block !important;
}

.dp_pec_wrapper .dp_pec_nav {
	text-align: center;
	position:relative;
	margin-top: 20px;
	padding-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.dp_pec_wrapper .dp_pec_nav span {
	font-size: 25px;
	text-transform:uppercase;
	margin:0;
	padding:0;
}

.dp_pec_wrapper.dp_pec_400 .dp_pec_nav span.actual_month {
	font-size: 18px;
}

.dp_pec_wrapper .dp_pec_nav span.next_month {
	cursor: pointer;
	position:absolute;
	right: 0;	
	top: 0;
	font-size: 16px;
	opacity: .7;
}

.dp_pec_wrapper .dp_pec_nav span.prev_month {
	cursor: pointer;
	position:absolute;
	left: 0;	
	top: 0;
	font-size: 16px;
	opacity: .7;
}

.dp_pec_wrapper .dp_pec_nav span.next_month:hover,
.dp_pec_wrapper .dp_pec_nav span.prev_month:hover {
	opacity: 1;
}

.dp_pec_wrapper .dp_pec_nav span.prev_month strong,
.dp_pec_wrapper .dp_pec_nav span.next_month strong {
	font-size: 11px;
	font-weight: normal;
}

.dp_pec_wrapper .dp_pec_nav button {
	padding: 5px 10px;
	border: 1px solid;
	outline: 0;
	font-weight: bold;
	font-size: 11px;
	white-space: nowrap;
	word-wrap: normal;
	vertical-align: middle;
	cursor: pointer;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	text-shadow: 0 1px 0 white;
	border-color: #CCC #CCC #AAA;
	background-color: #E0E0E0;
	-moz-box-shadow: inset 0 0 1px #fff;
	-ms-box-shadow: inset 0 0 1px #fff;
	-webkit-box-shadow: inset 0 0 1px #fff;
	box-shadow: inset 0 0 1px #fff;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#fffafafa,EndColorStr=#ffdcdcdc);
	background-image: -moz-linear-gradient(top,#FAFAFA 0,gainsboro 100%);
	background-image: -ms-linear-gradient(top,#FAFAFA 0,gainsboro 100%);
	background-image: -o-linear-gradient(top,#FAFAFA 0,gainsboro 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#FAFAFA),color-stop(100%,gainsboro));
	background-image: -webkit-linear-gradient(top,#FAFAFA 0,gainsboro 100%);
	background-image: linear-gradient(to bottom,#FAFAFA 0,gainsboro 100%);
	color: #555;
	text-transform:capitalize;
	opacity: .7;	
}

.dp_pec_wrapper .dp_pec_nav button:hover {
	opacity: 1;	
}

.dp_pec_wrapper .dp_pec_nav button.active,
.dp_pec_wrapper .dp_pec_nav button:active {
	border-color: #888 #AAA #CCC;
	-moz-box-shadow: inset 0 1px 5px rgba(0,0,0,0.25),0 1px 0 #fff;
	-ms-box-shadow: inset 0 1px 5px rgba(0,0,0,0.25),0 1px 0 #fff;
	-webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,0.25),0 1px 0 #fff;
	box-shadow: inset 0 1px 5px rgba(0,0,0,0.25),0 1px 0 #fff;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#ffc8c8c8,EndColorStr=#ffe6e6e6);
	background-image: -moz-linear-gradient(top,#C8C8C8 0,#E6E6E6 100%);
	background-image: -ms-linear-gradient(top,#C8C8C8 0,#E6E6E6 100%);
	background-image: -o-linear-gradient(top,#C8C8C8 0,#E6E6E6 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#C8C8C8),color-stop(100%,#E6E6E6));
	background-image: -webkit-linear-gradient(top,#C8C8C8 0,#E6E6E6 100%);
	background-image: linear-gradient(to bottom,#C8C8C8 0,#E6E6E6 100%);
}

.dpProEventCalendar_ModalCalendar {
	outline: 0px; 
	visibility:hidden;
	display: block; 
	z-index: 1002; 
	position: fixed; 
	top: 50px; 
	left: 0;
	right: 0;
	margin: 0 auto; 
	width: 70%;
}

.dpProEventCalendar_Overlay {
	z-index: 1001;
	position: fixed; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
	background-color: black; 
	opacity: .6; 
	filter: alpha(opacity=60); 
	cursor: pointer;
}

/* Skins - Light */

.light.dp_pec_wrapper {
	border: 1px solid #E6E6E6;
	border-bottom: 1px solid #E9E9E9;
	background: #f9f9f9;
	-moz-box-shadow: 0px 3px 2px #d6d6d6;
	-webkit-box-shadow: 0px 3px 2px #d6d6d6;
	box-shadow: 0px 3px 2px #d6d6d6;
}

.light.dp_pec_wrapper .dp_pec_content.dp_pec_content_loading {
	background: url(../images/ajax-loader.gif) no-repeat 50% 50%;
}

.light.dp_pec_wrapper .dp_pec_dayname {
	/*border: 1px solid #e6e6e6;	*/
	-moz-box-shadow: 0 1px 2px #ccc;
	-ms-box-shadow: 0 1px 2px #ccc;
	-webkit-box-shadow: 0 1px 2px #CCC;
	box-shadow: 0 1px 2px #CCC;
	background: #f5f5f5;
}

.light.dp_pec_wrapper .dp_pec_dayname span {
	color: #999;
	text-shadow: 0 1px 0 white;
}

.light.dp_pec_wrapper .dp_pec_content .dp_pec_date_event {
	border: 1px solid #e6e6e6;	
	-moz-box-shadow: 0 1px 2px #ccc;
	-ms-box-shadow: 0 1px 2px #ccc;
	-webkit-box-shadow: 0 1px 2px #CCC;
	box-shadow: 0 1px 2px #CCC;
	background: #fff;
}

.light.dp_pec_wrapper .dp_pec_content .dp_pec_date_event h1.dp_pec_event_title {
	color: #999;
}

.light.dp_pec_wrapper .dp_pec_content .dp_pec_date_event span.dp_pec_date_event_time {	
	color: #a8aeb7;
	background: url(../images/icons/clock.png) 0 50% no-repeat;
}

.light.dp_pec_wrapper .dp_pec_content .dp_pec_date_event_head {
	border: 1px solid #e6e6e6;
	-moz-box-shadow: 0 1px 2px #ccc;
	-ms-box-shadow: 0 1px 2px #ccc;
	-webkit-box-shadow: 0 1px 2px #CCC;
	box-shadow: 0 1px 2px #CCC;
	background: #f5f5f5;
	background: url(../images/icons/daily.png) 20px 50% no-repeat;
}

.light.dp_pec_wrapper .dp_pec_content .dp_pec_date {
	/*border: 1px solid #e6e6e6;	*/
	-moz-box-shadow: 0 1px 2px #ccc;
	-ms-box-shadow: 0 1px 2px #ccc;
	-webkit-box-shadow: 0 1px 2px #CCC;
	box-shadow: 0 1px 2px #CCC;
	background: url(../images/date_bg.png) 0 0 #fff;
}

.light.dp_pec_wrapper .dp_pec_content .dp_pec_date .dp_count_events {
	color: #fff;
	background: #999;
}

.light.dp_pec_wrapper .dp_pec_content .dp_pec_date .dp_date_head span {
	color: #999;
	text-shadow: 0 1px 0 white;
}

.light.dp_pec_wrapper .dp_pec_layout .dp_pec_references_div {
	background: white;
	border: 1px solid #E6E6E6;
}

.light.dp_pec_wrapper .dp_pec_layout .dp_pec_references {
	color: #999;
	text-shadow: 0 1px 0 white;
}

.light.dp_pec_wrapper .dp_pec_layout .dp_pec_references_div .dp_pec_references_close {
	color: #666;
}

.light.dp_pec_wrapper .dp_pec_layout .dp_pec_references_div .dp_pec_references_color {
	border: 1px solid #E6E6E6;
	background: url(../images/date_bg.png) 0 0;
}

.light.dp_pec_wrapper .dp_pec_layout input.dp_pec_search {
	color: #999 !important;
	border: 1px solid #E6E6E6 !important;
	background: white !important;
}

.light.dp_pec_wrapper .dp_pec_layout .dp_pec_references_div .dp_pec_references_title {
	color: #999;
	text-shadow: 0 1px 0 white;
}

.light.dp_pec_wrapper .dp_pec_nav {
	border-bottom: 1px dashed #e2e2e2;
}

.light.dp_pec_wrapper .dp_pec_nav span {
	color: #999;
	text-shadow: 0 1px 0 white;
}

.light.dp_pec_wrapper .dp_pec_nav span.prev_month strong,
.light.dp_pec_wrapper .dp_pec_nav span.next_month strong {
	color: #999;
	text-shadow: 0 1px 0 white;
}

.light.dp_pec_wrapper .dp_pec_content .dp_pec_date .dp_date_head {
	background: #f5f5f5;
	border-right: 1px dashed #e6e6e6;
}

.light.dp_pec_wrapper .dp_pec_content .dp_pec_date_event_head span {
	color: #999;
	text-shadow: 0 1px 0 white;
}

.light.dp_pec_wrapper .dp_pec_content .dp_pec_date_event a.dp_pec_date_event_twitter {
	background: url(../images/icons/twitter.png) 50% 50% no-repeat;
}

.light.dp_pec_wrapper .dp_pec_content .dp_pec_date_event a.dp_pec_date_event_map {
	background: url(../images/icons/map.png) 50% 50% no-repeat;
}

.light.dp_pec_wrapper .dp_pec_content .dp_pec_date_event a.dp_pec_date_event_link {
	background: url(../images/icons/link.png) 50% 50% no-repeat;
}

.light.dp_pec_wrapper .dp_pec_content .dp_pec_date_event_head.dp_pec_date_event_daily {
	background: url(../images/icons/daily.png) 20px 50% no-repeat;
}

.light.dp_pec_wrapper .dp_pec_content .dp_pec_date_event_head.dp_pec_date_event_search {
	background: url(../images/icons/search.png) 20px 50% no-repeat;
}

.light.dp_pec_wrapper .dp_pec_content .dp_pec_date_event_head a.dp_pec_date_event_back {
	background: url(../images/icons/back.png) 0 0 no-repeat;
}

.light.dp_pec_wrapper .dp_pec_layout .dp_pec_search_go {
	background: url(../images/icons/search.png) 50% 50% no-repeat;
}

.light.eventsPreviewDiv {
	background: #F9F9F9;
	border: 1px solid #CCC;
}

.light.eventsPreviewDiv ul li {
	border-top:1px dashed #ccc;
	color: #999 !important;
}

.light.eventsPreviewDiv ul li span {
	background: #777;
	color: white;
	padding: 2px 3px;
	margin-right: 10px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.light.eventsPreviewDiv ul li:first-child {
	border: 0;
	margin-top: 0;
}

/* Skins - Dark */

.dark.dp_pec_wrapper {
	border: 1px solid #1a1a1a;
	border-bottom: 1px solid #1a1a1a;
	background: #222;
	-moz-box-shadow: 0px 3px 2px #888;
	-webkit-box-shadow: 0px 3px 2px #888;
	box-shadow: 0px 3px 2px #888;
}

.dark.dp_pec_wrapper .dp_pec_content.dp_pec_content_loading {
	background: url(../images/ajax-loader-dark.gif) no-repeat 50% 50%;
}

.dark.dp_pec_wrapper .dp_pec_dayname {
	background: #3f4140;
	-moz-box-shadow: 0 1px 2px #1a1a1a;
	-ms-box-shadow: 0 1px 2px #1a1a1a;
	-webkit-box-shadow: 0 1px 2px #1a1a1a;
	box-shadow: 0 1px 2px #1a1a1a;
}

.dark.dp_pec_wrapper .dp_pec_dayname span {
	color: #999;
}

.dark.dp_pec_wrapper .dp_pec_content .dp_pec_date_event {
	border: 1px solid #1a1a1a;	
	background: #535353;
}

.dark.dp_pec_wrapper .dp_pec_content .dp_pec_date_event h1.dp_pec_event_title {
	color: #999;
}

.dark.dp_pec_wrapper .dp_pec_content .dp_pec_date_event span.dp_pec_date_event_time {	
	color: #a8aeb7;
	background: url(../images/icons_dark/clock.png) 0 50% no-repeat;
}

.dark.dp_pec_wrapper .dp_pec_content .dp_pec_date_event_head {
	border: 1px solid #1a1a1a;
	background: #3F4140 url(../images/icons_dark/daily.png) 20px 50% no-repeat;
}

.dark.dp_pec_wrapper .dp_pec_content .dp_pec_date {
	background: url(../images/date_bg-dark.png) 0 0 #3F4140;
	-moz-box-shadow: 0 1px 2px #1a1a1a;
	-ms-box-shadow: 0 1px 2px #1a1a1a;
	-webkit-box-shadow: 0 1px 2px #1a1a1a;
	box-shadow: 0 1px 2px #1a1a1a;
}

.dark.dp_pec_wrapper .dp_pec_content .dp_pec_date .dp_count_events {
	color: #999;
	background: #666;
}

.dark.dp_pec_wrapper .dp_pec_content .dp_pec_date .dp_date_head span {
	color: #999;
}

.dark.dp_pec_wrapper .dp_pec_layout .dp_pec_references_div {
	background: #3F4140;
	border: 1px solid #1a1a1a;
}

.dark.dp_pec_wrapper .dp_pec_layout .dp_pec_references {
	color: #999;
}

.dark.dp_pec_wrapper .dp_pec_layout .dp_pec_references_div .dp_pec_references_close {
	color: #999;
}

.dark.dp_pec_wrapper .dp_pec_layout .dp_pec_references_div .dp_pec_references_color {
	border: 1px solid #1a1a1a;
	background: url(../images/date_bg-dark.png) 0 0;
}

.dark.dp_pec_wrapper .dp_pec_layout input.dp_pec_search {
	color: #999 !important;
	border: 1px solid #1a1a1a !important;
	background: #3F4140 !important;
}

.dark.dp_pec_wrapper .dp_pec_layout .dp_pec_references_div .dp_pec_references_title {
	color: #999;
}

.dark.dp_pec_wrapper .dp_pec_nav {
	border-bottom: 1px dashed #999;
}

.dark.dp_pec_wrapper .dp_pec_nav span {
	color: #999;
}

.dark.dp_pec_wrapper .dp_pec_nav span.prev_month strong,
.dark.dp_pec_wrapper .dp_pec_nav span.next_month strong {
	color: #999;
}

.dark.dp_pec_wrapper .dp_pec_content .dp_pec_date .dp_date_head {
	background: #333;
	border-right: 1px dashed #1a1a1a;
}

.dark.dp_pec_wrapper .dp_pec_content .dp_pec_date_event_head span {
	color: #999;
}

.dark.dp_pec_wrapper .dp_pec_content .dp_pec_date_event a.dp_pec_date_event_twitter {
	background: url(../images/icons_dark/twitter.png) 50% 50% no-repeat;
}

.dark.dp_pec_wrapper .dp_pec_content .dp_pec_date_event a.dp_pec_date_event_map {
	background: url(../images/icons_dark/map.png) 50% 50% no-repeat;
}

.dark.dp_pec_wrapper .dp_pec_content .dp_pec_date_event a.dp_pec_date_event_link {
	background: url(../images/icons_dark/link.png) 50% 50% no-repeat;
}

.dark.dp_pec_wrapper .dp_pec_content .dp_pec_date_event_head.dp_pec_date_event_daily {
	background: url(../images/icons_dark/daily.png) 20px 50% no-repeat;
}

.dark.dp_pec_wrapper .dp_pec_content .dp_pec_date_event_head.dp_pec_date_event_search {
	background: url(../images/icons_dark/search.png) 20px 50% no-repeat;
}

.dark.dp_pec_wrapper .dp_pec_content .dp_pec_date_event_head a.dp_pec_date_event_back {
	background: url(../images/icons_dark/back.png) 0 0 no-repeat;
}

.dark.dp_pec_wrapper .dp_pec_layout .dp_pec_search_go {
	background: url(../images/icons_dark/search.png) 50% 50% no-repeat;
}

.dark.eventsPreviewDiv {
	background: #3F4140;
	border: 1px solid #1A1A1A;
	color: #999;	
}

.dark.eventsPreviewDiv ul li {
	border-top: 1px dashed #A1A1A1;	
	color: #999 !important;
}

.dark.eventsPreviewDiv ul li span {
	background: #666;
	color: #999;
	padding: 2px 3px;
	margin-right: 10px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.dark.eventsPreviewDiv ul li:first-child {
	border: 0;
	margin-top: 0;
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/**** ColorPicker ****/

.colorSelector {
	position: relative;
	width: 36px;
	height: 36px;
	background: url(../images/colorpicker/select.png);
}
.colorSelector div {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 30px;
	height: 30px;
	background: url(../images/colorpicker/select.png) center;
}